@{
    ViewData["Title"] = "Cadetes";
}

<h1>Lista de Cadetes</h1>

<table>
  <thead>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Teléfono</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
