@{
    ViewData["Title"] = "Lista de Cadetes";
}

<h1>Lista de Cadetes</h1>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary">
      <a asp-action="AltaCadete">Crear Cadete</a>
    </button>
  </div>
</div>
 
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td>Pedro</td>
      <td>Av. Independencia 1800</td>
      <td>3812345678</td>
      <td>
        <i class="bi bi-pencil" style="color: cornflowerblue; margin: 0.5em"></i>
        <i class="bi bi-trash" style="color: red;"></i>
      </td>
    </tr>
  </tbody>
</table>
