<h1>Cadeteria</h1>

<button type="button" class="btn btn-outline-primary">Pedido</button>

<button type="button" class="btn btn-outline-success">
    <a asp-area="" asp-controller="Cadete" asp-action="Cadete">Cadetes</a>
</button>

<button type="button" class="btn btn-outline-info">Info</button>
